@import "tailwindcss";
@import "katex/dist/katex.min.css";

/* Custom utility for no-scrollbar if needed */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  background-color: #fdfdfd;
  color: #1a1a1a;
  font-family: system-ui, -apple-system, sans-serif;
}